<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- ne ihtiyacı -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="33"
        android:usesCleartextTraffic="true"
        >


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".work1"
            android:exported="false"/>

        <activity android:name=".work2"
            android:exported="false"/>

        <activity android:name=".work3"
            android:exported="false"/>

        <activity android:name=".work4"
            android:exported="false"/>

        <activity android:name=".intentData"
            android:exported="false"/>

        <activity android:name=".work5"
            android:exported="false"/>

        <activity android:name=".work6"
            android:exported="false"/>

        <activity android:name=".addContact"
            android:exported="false"/>

        <activity android:name=".updateContact"
            android:exported="false"/>

        <activity android:name=".work7"
            android:exported="false"/>


    </application>

</manifest>